




<form action="/changepassword" method="post">
    <input type="password" name="oldpassword" placeholder="oldPassword">
    <input type="password" name="newpassword" placeholder="NewPassword">
<button>Changepassword</button>
</form>