
<%- include("partials/header")%>

<link rel="stylesheet" href="/stylesheets/expensesform.css">

<div class="expenseformpg">

    <form action="/expensesform" method="post">
<h1>ADD EXPENSES</h1>

<h4>Expense Name:</h4>
<input type="text" name="Expensename">
<h4>Amount:</h4>
<input type="number" name="amount">
<h4>Date:</h4>
<input type="datetime" name="date">
<h4>Month:</h4>
<input type="text" name="month">
<h4>Category:</h4>
<input type="text" name="category">
<button>SUBMIT</button>
    </form>
</div>

<%- include("partials/footer")%>
