<%- include("partials/nav2")%>
<%- include("partials/header")%>
<link rel="stylesheet" href="/stylesheets/expenses.css">



<div class="pg1">

    <div class="totalexp">
        <h3>Total No. Of expenses:</h3>
        <div class="expbox" > </div>
       </div>


       <div class="totalamt">
        <h3>Total Amount Spend:</h3>
        <div class="amtbox"> <%= count%></div>
       </div>

<script src="/javascripts/dashboard.js"></script>
<%- include("partials/footer")%>
