

<%- include("partials/header")%>



<link rel="stylesheet" href="/stylesheets/register.css">

<div class="registerpg">
    <form action="/register" method="post">
    <h1>Create Your Account</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="number" name="number" placeholder="Contact">
        <input type="text" name="address" placeholder="Address">
        <input type="text" name="location" placeholder="Location">
        <input type="password" name="password" placeholder="Password">
<button>Register</button>
<h2>OR</h2>
<a href="/login">LOGIN Yourself</a>
    </form> 

</div>

<%- include("partials/footer")%>
