
<%- include("partials/nav2")%>

<div class="pg1">
    <form action="/resetpassword/<%= id%>" method="post">
        <input type="password" name="password" placeholder="New Password">
        <button>Reset Password</button>
    </form>
</div>