*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.pg1{
    height: 88vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.4px solid lightblue;
}

form input{
    height: 10vh;
    width: 30vw;
    border-radius: 0.5vmax;
    border: 1px solid black;
    font-size: 1.6vmax;
    padding: 0 1vmax;
}


@media(max-width: 600px){
    form input{
        width: 75vw;
        height: 8vh;
        font-size: 2vmax;
    }
    .pg1{
        justify-content: start;
padding-top: 10vmax;

    }
}


 